doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Welcome! Jessica Moreno

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jessica Moreno
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#philosophy') Philosophy
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#lessonplans') Lesson Plans
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jessica 
                        span.text-primary Moreno
                    .subheading.mb-5
                        a.social-icon(href= 'mailto:jessicaamorenoo23@gmail.com') jessicaamorenoo23@gmail.com
                            i.fas.fa-envelope
                    p.lead.mb-5
                        | Hi! My name is Jessica Moreno, and I am an undergraduate student at Lewis University in Romeoville, Illinois. 
                        | I am currently pursuing my Bachelor of Elementary Education and expect to obtain my teaching license for the state of Illinois by December 2020. 
                        |For part of my undergraduate degree, I received a Learning Behavior Specialist endorsement. Also as part of my undergraduate degree I received my Associate of Arts from the College of DuPage in Glen Ellyn, Illinois. 
                        |​I am currently student teaching 3rd grade at Kendall Elementary School in Naperville, Illinois and am enjoying every moment of it!

            hr.m-0

            // Teaching Philosophy
            section#philosophy.resume-section
                .resume-section.content
                     h2.mb-5 Teaching Philosophy
                     p.lead.mb-5
                        | I believe that children deserve an education that is tailored to each of their needs as much as possible.
                        | I understand that every student is unique and learns in different ways and at different paces. 
                        |Therefore, I make it my goal to meet students where they are and lead them towards success in every aspect of their education. 
                        |I endeavor to create an atmosphere where children are comfortable to ask questions, unafraid to make mistakes, eager to discover, and challenged to go above and beyond their goals and expectations. 
                        |It is my hope that my students will never want to stop learning!
            hr.m-0


            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Student Teaching
                            .subheading.mb-3 Kendall Elementary, District 204, Naperville, IL
                            p
                            | <li>Plan and implement remote daily lessons for third grade for a class of 31 students</li>
                            <li>Incorporate social emotional activities into classroom activities to enhance social and emotional skills</li>
                            <li>Create an online atmosphere to encourage development of collaboration skills</li>
                            <li>Compose and design quarterly electronic newsletters for parents (98% parent satisfaction rating)</li>
                            <li>Incorporate innovative applications of current technology and cutting-edge media into lessons </li>
                            <li>Initiate contact with parents through e-mail, text, phone, and conferences to bridge home and school</li> 
                            <li>Utilize electronic grading system to record/monitor student assessment and issue early alert notices </li>
                            <li>Implement a positive reward system for classroom management </li> 
                            <li>Facilitate weekly presentations for remote learning</li>
                            <li>Actively engage in weekly department meetings </li>
                            <li>Attend monthly in-service online trainings and seminars on various topics</li> 
                            <li>Member of Instructional Strategies committee</li>
                            <li>Help distribute materials for remote learning </li>
                        .flex-shrink-0
                            span.text-primary Fall 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Field Experience II (50 hours)
                            .subheading.mb-3 St. Irene School, Fourth Grade, Warrenville, IL
                            p
                                | <li>Assisted teacher in planning, preparing, and organizing daily lessons</li>
                            <li>Actively taught Reading, Math, Science, and Social Studies lessons for fourth grade  </li>
                            <li>Provided individual assistance to students with Individualized Education Plans</li>
                            <li>Facilitated small group lessons in Language Arts and Math </li>
                            <li>Facilitated in administering assessments  </li>
                        .flex-shrink-0
                            span.text-primary Fall 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Field Experience I (50 hours)
                            .subheading.mb-3 Wayne Builta Elementary, Third Grade, District 204, Bolingbrook, IL
                            p
                                | <li>Taught lessons in Reading, Math, Science, and Social Studies for 30 third graders</li>
                            <li>Taught general education students as well as individuals with learning challenges and special needs within a mainstreamed, inclusive classroom</li>
                            <li>Commended for ability to redirect students exhibiting behavior problems. Selected to lead district-wide in-service on classroom management</li>
                            <li>Participated in school staff meetings which focused on curriculum development, ESL teacher approaches, fundraising, and social emotional efforts for teachers and students</li>
                            <li>Observed Math, Social Studies, and Language Arts lessons </li>
                            <li>Assisted with taking attendance and grading homework assignments </li>
                            <li>Participated in social emotional learning professional development </li>
                        .flex-shrink-0
                            span.text-primary Spring 2019

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lewis University
                            .subheading.mb-3 Bachelor of Arts
                            div Elementary Education
                            div Professional Educator License
                            div Learning Behavior Specialist 1 Endorsement
                            p GPA: 4.00
                        .flex-shrink-0
                            span.text-primary 2018-2020

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 College of DuPage
                            .subheading.mb-3 Associate's in Arts
                            p GPA: 3.50
                        .flex-shrink-0
                            span.text-primary 2015-2018

            hr.m-0

            // Lesson Plans
            section#lessonplans.resume-section
                .resume-section-content
                    h2.mb-5 Lesson Plans
                    ul.fa-ul.mb-0
                        li(style="font-size: 28px")
                            a.fa-li(href='./assets/lessonplans/FinalUnitPlan.pdf')
                                i.fas.fa-book-open.text-orange
                            | Mathematics
                        li.list-inline-item(style="font-size:28px")
                            a.fa-li(href='./assets/lessonplans/SocialStudies.pdf')
                                i.fas.fa-book-open.text-warning
                            | Social Studies
                        li(style="font-size: 28px")
                            a.fa-li(href='./assets/lessonplans/OurPlanet.pdf')
                                i.fas.fa-book-open.text-success
                            | Science
                        li(style="font-size:28px")
                            a.fa-li(href='./assets/lessonplans/NovelStudy.pdf')
                                i.fas.fa-book-open.text-danger
                            | Novel Study
                        li(style="font-size: 28px")
                            a.fa-li(href='./assets/lessonplans/HootNovelUnit.pdf')
                                i.fas.fa-book-open.text-info
                            | Hoot Novel Unit
            hr.m-0
            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Besides teaching, I love to spend time with my family and going on walks with my dog, Pewi!

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')